{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>Registration Pending</title>

<link rel="stylesheet"
      href="{% static 'accounts/css/auth-pending.css' %}">

</head>

<body>

<div class="auth-container">

    <div class="auth-card pending-card">

        <div class="pending-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                <path d="M2 15.5a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.146-.354L10 8.207V2.5a.5.5 0 0 0-.276-.447l-4-2A.5.5 0 0 0 5 2.5v5.707L2.146 13.146A.5.5 0 0 0 2 13.5v2zm1-.707V13h9v1.793l-3-3V3h-.035l-3-1.5V10.793l-3 3z"/>
                <path d="M7.5 8a.5.5 0 0 1 .276-.447l4-2A.5.5 0 0 1 12 6.5v7a.5.5 0 0 1-.276.447l-4-2A.5.5 0 0 1 7.5 13v-5z"/>
            </svg>
        </div>

        <h1>Registration Submitted</h1>

        <p class="pending-title">
            Your registration request has been received.
        </p>

        <p class="pending-text">
            Your account is currently waiting for administrator
            approval. You will be able to login with in 24-48 hours after your
            registration has been approved.
        </p>

        <div class="pending-status">
            <span class="status-dot"></span>
            Waiting for approval
        </div>

        <a href="{% url 'accounts:login' %}"
        class="auth-button">
            Go to Login
        </a>

        <a href="{% url 'accounts:register' %}"
        class="back-link">
            Register another account
        </a>

    </div>

</div>

</body>
</html>
