{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'dashboard/css/student_list.css' %} ">
{% endblock  %}

{% block content %}

<div class = "table-card">

    <h1>students lists  </h1>
    
    <form method = "GET" >
        <input type="text" name="search" placeholder="search by name or email " value="{{ request.GET.search}} ">
        <button type = "submit"> search </button>
    </form>
    
   <div class = "table-wrapper">
   <table border = "1" colspan = "10" class = "student-table" >
    
    <thead>
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>last name</th>
        <th>email</th>
        <th>phone No</th>
        <th>date of birth </th>
        <th>address</th>
        <th> created at </th>
        {% comment %} <th>bio</th> {% endcomment %}
        <th>grade level </th>
        <th>profile picture </th>
        <th>quick actions</th>
    </tr>
    </thead>
     
    <tbody>
    {% for student in student_list %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{student.first_name }} </td>
        <td>{{ student.last_name}} </td>
        <td>{{student.email }} </td>
        <td>{{ student.phone}} </td>
        <td>{{ student.date_of_birth }} </td>
        <td>{{ student.address }} </td>

        <td> {{ student.date_joined }} </td>
        {% comment %} <td{{ student.bio}}></td> {% endcomment %}
        <td>{{ student.grade_level}} </td>

        {% comment %} <td> <img src="{{ student.profile_picture.url }}" alt="no image found" class = "profile-img"> </td> {% endcomment %}
         {% if student.profile_picture %}
        <td> <img src=" {{student.profile_picture.url }} " alt="no image found" class = "profile-img"> </td>
        {% endif %}
        <td><a href=" {% url 'dashboard:student_detail' student.pk %} " class = "view-btn">
            <i class="fa-solid fa-eye"></i>
        </a>

        <a href=" {% url 'dashboard:student_edit' student.pk %} " class = "edit-btn"><i class="fa-solid fa-pen-to-square"></i></a>

        <a href="{% url 'dashboard:student_delete' student.pk %}" class = "delete-btn"><i class="fa-solid fa-trash"></i></a>

        </td>

    </tr>
    {% endfor %}
    </tbody>

   </table>
</div>
   

{% endblock content %}